body{
    background-color: rgb(172, 220, 204);
    color:rgb(64, 32, 32);
    
}
.header button:hover::after {
    content: "📍Address: 155 Washington Ave, Albany NY 12210, Hours: Every days from 6:30am to 11:00pm";
    position: absolute;
    font-size: 12px;
    color: #f79f9f;
    font-style: oblique;
    top: 10px;
    margin-right: 5px;
    text-align: right;
}

.nav {
    overflow: auto;
    background-color: rgb(184, 12, 12);
}




.nav {
    overflow: auto;
    background-color: rgb(87, 44, 4);
}

.nav {
    display: flex;
    margin: 10px;
}
.nav a {
    display: block;
    color: bisque;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    float: left;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px
}

.nav a:hover {
    background-color: rgb(249, 182, 82);
    color: rgb(194, 47, 121);
}